:root {
    --headline-1-font-family: "DM Sans", Helvetica;
    --headline-1-font-weight: 700;
    --headline-1-font-size: 64px;
    --headline-1-letter-spacing: -1.28px;
    --headline-1-line-height: 64px;
    --headline-1-font-style: normal;
    --body-2-font-family: "Poppins", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 16px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 24px;
    --body-2-font-style: normal;
    --text-h1-bold-font-family: "Open Sans", Helvetica;
    --text-h1-bold-font-weight: 700;
    --text-h1-bold-font-size: 32px;
    --text-h1-bold-letter-spacing: 0px;
    --text-h1-bold-line-height: 40px;
    --text-h1-bold-font-style: normal;
}