.about-us {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about-us .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1280px;
    height: 1675px;
    position: relative;
}

.about-us .overlap {
    position: absolute;
    width: 1280px;
    height: 295px;
    top: 0;
    left: 0;
}

.about-us .nav {
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8faf86;
}

.about-us .nav-content {
    display: flex;
    height: 92px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 160px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.about-us .navbar {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.about-us .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 138px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 24px;
    position: relative;
    border-radius: 90px;
}

.about-us .label {
    position: relative;
    width: fit-content;
    margin-left: -42.50px;
    margin-right: -42.50px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.about-us .divider {
    position: relative;
    width: 2px;
    height: 40px;
    background-color: #e5e8eb;
    border-radius: 2px;
}

.about-us .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.about-us .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.about-us .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.about-us .group {
    position: relative;
    width: 38px;
    height: 38px;
}

.about-us .overlap-group {
    position: relative;
    height: 38px;
}

.about-us .button-icon-only {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 3px;
}

.about-us .shopping-cart {
    position: relative;
    width: 20px;
    height: 20px;
}

.about-us .badge-primary {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 6px;
    position: absolute;
    top: 0;
    left: 18px;
    background-color: #18191d;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ffffff;
}

.about-us .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.about-us .icons-bell-line {
    position: relative;
    width: 32px;
    height: 24px;
}

.about-us .frame-wrapper {
    position: relative;
    width: 44px;
    height: 44px;
}

.about-us .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.about-us .img {
    position: relative;
    flex: 0 0 auto;
}

.about-us .divider-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: #e5e8eb;
}

.about-us .rectangle {
    position: absolute;
    width: 1280px;
    height: 203px;
    top: 92px;
    left: 0;
    background-color: #f4f5f6;
}

.about-us .title {
    position: absolute;
    width: 282px;
    top: 161px;
    left: 499px;
    font-family: var(--headline-1-font-family);
    font-weight: var(--headline-1-font-weight);
    color: #172135;
    font-size: var(--headline-1-font-size);
    letter-spacing: var(--headline-1-letter-spacing);
    line-height: var(--headline-1-line-height);
    font-style: var(--headline-1-font-style);
}

.about-us .overlap-wrapper {
    position: absolute;
    width: 1282px;
    height: 423px;
    top: 295px;
    left: 0;
}

.about-us .overlap-2 {
    position: relative;
    width: 1280px;
    height: 423px;
    background-color: #fbfcfc;
}

.about-us .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 497px;
    height: 153px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 170px;
    left: 617px;
}

.about-us .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -140.84px;
    margin-right: -69.11px;
}

.about-us .p {
    position: relative;
    width: 566px;
    height: 294px;
    margin-top: -1.00px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    text-align: justify;
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    font-style: var(--body-2-font-style);
}

.about-us .title-2 {
    width: 177px;
    top: 103px;
    left: 617px;
    position: absolute;
    font-family: var(--text-h1-bold-font-family);
    font-weight: var(--text-h1-bold-font-weight);
    color: #172135;
    font-size: var(--text-h1-bold-font-size);
    letter-spacing: var(--text-h1-bold-letter-spacing);
    line-height: var(--text-h1-bold-line-height);
    white-space: nowrap;
    font-style: var(--text-h1-bold-font-style);
}

.about-us .ant-design-picture {
    position: absolute;
    width: 331px;
    height: 271px;
    top: 76px;
    left: 183px;
}

.about-us .overlap-group-2 {
    position: relative;
    height: 271px;
}

.about-us .vector {
    position: absolute;
    width: 289px;
    height: 187px;
    top: 42px;
    left: 21px;
}

.about-us .istockphoto {
    position: absolute;
    width: 331px;
    height: 271px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about-us .overlap-group-wrapper {
    position: absolute;
    width: 1282px;
    height: 544px;
    top: 718px;
    left: 0;
}

.about-us .overlap-3 {
    position: relative;
    width: 1280px;
    height: 544px;
    background-color: #8faf8678;
}

.about-us .frame-5 {
    display: flex;
    flex-direction: column;
    width: 563px;
    height: 234px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 120px;
    left: 143px;
}

.about-us .at-freshara-our-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -60.00px;
}

.about-us .at-freshara-our {
    position: relative;
    width: 549px;
    height: 294px;
    margin-top: -1.00px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    text-align: justify;
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    font-style: var(--body-2-font-style);
}

.about-us .ant-design-picture-2 {
    top: 81px;
    left: 785px;
    position: absolute;
    width: 418px;
    height: 381px;
}

.about-us .overlap-group-3 {
    position: relative;
    height: 381px;
}

.about-us .images {
    position: absolute;
    width: 378px;
    height: 183px;
    top: 99px;
    left: 20px;
    object-fit: cover;
}

.about-us .edff-e-e {
    position: absolute;
    width: 418px;
    height: 381px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about-us .title-3 {
    width: 231px;
    top: 49px;
    left: 189px;
    position: absolute;
    font-family: var(--text-h1-bold-font-family);
    font-weight: var(--text-h1-bold-font-weight);
    color: #172135;
    font-size: var(--text-h1-bold-font-size);
    letter-spacing: var(--text-h1-bold-letter-spacing);
    line-height: var(--text-h1-bold-line-height);
    white-space: nowrap;
    font-style: var(--text-h1-bold-font-style);
}

.about-us .frame-6 {
    position: absolute;
    width: 1279px;
    height: 413px;
    top: 1262px;
    left: 0;
    background-color: #332424;
}

.about-us .overlap-4 {
    position: relative;
    width: 1281px;
    height: 413px;
}

.about-us .group-2 {
    position: absolute;
    width: 1281px;
    height: 413px;
    top: 0;
    left: 0;
}

.about-us .overlap-group-4 {
    position: relative;
    width: 1279px;
    height: 413px;
    background-color: #8eaf86;
}

.about-us .containers {
    position: absolute;
    width: 104px;
    top: 55px;
    left: 79px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #131416;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
}

.about-us .group-3 {
    position: absolute;
    width: 275px;
    height: 190px;
    top: 115px;
    left: 79px;
}

.about-us .social-network {
    position: absolute;
    width: 20px;
    height: 21px;
    top: 169px;
    left: 21px;
    background-image: url(./img/facebook.svg);
    background-size: 100% 100%;
}

.about-us .follow-us {
    position: absolute;
    width: 166px;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #3b5266;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.about-us .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 36px;
    left: 0;
}

.about-us .hello-forpeople-stud {
    position: relative;
    width: 263px;
    margin-top: -1.00px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #353945;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 25px;
}

.about-us .text-wrapper-3 {
    position: relative;
    width: 263px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #353945;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 25px;
}

.about-us .footer {
    position: absolute;
    width: 1279px;
    height: 64px;
    top: 349px;
    left: 0;
    background-color: transparent;
}

.about-us .copyright-al {
    position: absolute;
    width: 284px;
    top: 20px;
    left: 852px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0;
    line-height: 22px;
}

.about-us .instagram {
    position: absolute;
    width: 18px;
    height: 21px;
    top: 284px;
    left: 174px;
}

.about-us .twitter {
    position: absolute;
    width: 18px;
    height: 21px;
    top: 284px;
    left: 139px;
}

.about-us .images-wrapper {
    top: 16px;
    left: 802px;
    position: absolute;
    width: 418px;
    height: 381px;
}