:root {
    --text-body-normal-regular-font-family: "Open Sans", Helvetica;
    --text-body-normal-regular-font-weight: 400;
    --text-body-normal-regular-font-size: 16px;
    --text-body-normal-regular-letter-spacing: 0px;
    --text-body-normal-regular-line-height: 24px;
    --text-body-normal-regular-font-style: normal;
    --text-h1-bold-font-family: "Open Sans", Helvetica;
    --text-h1-bold-font-weight: 700;
    --text-h1-bold-font-size: 32px;
    --text-h1-bold-letter-spacing: 0px;
    --text-h1-bold-line-height: 40px;
    --text-h1-bold-font-style: normal;
    --headline-4-font-family: "DM Sans", Helvetica;
    --headline-4-font-weight: 700;
    --headline-4-font-size: 32px;
    --headline-4-letter-spacing: -0.32px;
    --headline-4-line-height: 40px;
    --headline-4-font-style: normal;
    --body-2-bold-font-family: "Poppins", Helvetica;
    --body-2-bold-font-weight: 600;
    --body-2-bold-font-size: 16px;
    --body-2-bold-letter-spacing: 0px;
    --body-2-bold-line-height: 24px;
    --body-2-bold-font-style: normal;
    --body-1-bold-font-family: "Poppins", Helvetica;
    --body-1-bold-font-weight: 600;
    --body-1-bold-font-size: 24px;
    --body-1-bold-letter-spacing: 0px;
    --body-1-bold-line-height: 32px;
    --body-1-bold-font-style: normal;
    --caption-font-family: "Poppins", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 14px;
    --caption-letter-spacing: 0px;
    --caption-line-height: 24px;
    --caption-font-style: normal;
    --caption-bold-font-family: "Poppins", Helvetica;
    --caption-bold-font-weight: 500;
    --caption-bold-font-size: 14px;
    --caption-bold-letter-spacing: 0px;
    --caption-bold-line-height: 24px;
    --caption-bold-font-style: normal;
    --text-h4-bold-font-family: "Open Sans", Helvetica;
    --text-h4-bold-font-weight: 700;
    --text-h4-bold-font-size: 16px;
    --text-h4-bold-letter-spacing: 0px;
    --text-h4-bold-line-height: 24px;
    --text-h4-bold-font-style: normal;
}