:root {
    --caption-font-family: "Poppins", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 14px;
    --caption-letter-spacing: 0px;
    --caption-line-height: 24px;
    --caption-font-style: normal;
    --headline-4-font-family: "DM Sans", Helvetica;
    --headline-4-font-weight: 700;
    --headline-4-font-size: 32px;
    --headline-4-letter-spacing: -0.32px;
    --headline-4-line-height: 40px;
    --headline-4-font-style: normal;
}