:root {
    --headings-h6-font-family: "Inter", Helvetica;
    --headings-h6-font-weight: 600;
    --headings-h6-font-size: 14px;
    --headings-h6-letter-spacing: 0px;
    --headings-h6-line-height: 24px;
    --headings-h6-font-style: normal;
    --paragraph-lead-font-family: "Inter", Helvetica;
    --paragraph-lead-font-weight: 400;
    --paragraph-lead-font-size: 18px;
    --paragraph-lead-letter-spacing: 0px;
    --paragraph-lead-line-height: 30px;
    --paragraph-lead-font-style: normal;
    --headline-3-font-family: "DM Sans", Helvetica;
    --headline-3-font-weight: 700;
    --headline-3-font-size: 40px;
    --headline-3-letter-spacing: -0.4px;
    --headline-3-line-height: 48px;
    --headline-3-font-style: normal;
}