body {width:610px;}
table {border-spacing: 1px;}
th,td {padding: 10px;}
.txt-heading{padding: 5px 10px; font-size:1.1em; font-weight:bold;color:#0000a0;}
#btnEmpty{background-color:#0000a0; border:0; padding:1px 10px;color:#FFF; font-size:0.8em;font-weight:normal;float:right;text-decoration:none;}
#shopping-cart {border-top: #79b946 2px solid; margin-bottom:30px;}
#shopping-cart table{width:100%; background-color:#F0F0F0;}
#shopping-cart table td{background-color:#FFFFFF;}
.cart-item {border-bottom: #79b946 1px dotted; padding: 10px;}
#product-grid {border-top: #F08426 2px solid; margin-bottom:30px;}
.product-item {	float:left;	background:#F0F0F0;	margin:15px;padding:5px;}
.product-item div{text-align:center; margin:10px;}
.product-image {height:100px; background-color:#FFF;}
.product-image-size {height:auto; width:auto; max-width:100px; max-height: 100px;}